<?xml version="1.0" encoding="UTF-8"?>
<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">
<role rolename="{{manager_role}}" />
<role rolename="{{admin_role}}" />
<user username="{{user1}}" password="{{pass1}}" roles="{{manager_role}}" />
<user username="{{user2}}" password="{{pass2}}" roles="{{manager_role}},{{admin_role}}" />

</tomcat-users>

